extend ../_layouts/baselayout
block content
	.col-md-7
		.panel.panel-default
			.panel-body.
				HELLO Wizard/Witch! Welcome to the wizarding world of Harry Potter.
				This game is based around the Harry Potter Series and as such....

	.col-md-5
		.panel.panel-default
			.panel-heading
					h3.panel-title Current Game Information
			.panel-body
				b Total Players: 
				| #{playercount}
			.panel-body
				b Humans: 
				| #{humancount}
			.panel-body
				b Zombies: 
				| #{zombiecount}

		.panel.panel-default
			.panel-heading
					h3.panel-title Current Mission
			.panel-body.
				This will have a brief overview of the mission<br/>
				This will display content according to if the player is human or zombie