extend ../layouts/baselayout
block content
	//- Create AJAX form for login
	form#report-kill
		.form-group
			label(for = "hvzid") Enter HVZID of human to kill:
			input#hvzid(type = "text", placeholder = "HVZID").form-control
		button.btn.btn-default Kill