/* Globals*/
body {
	font-family: Tahoma;
	font-size: 11.5pt;
	background-image: url("../img/bodyGridBackground.png");
	background-repeat: repeat-x|repeat-y;
	/*color: #000000;*/
	padding-top: 5em;
}
a {text-decoration: none}
a:link {color: #CC6600}
a:visited {color: #CC6600}
a:active {color: #CC6600}
a:hover {color: #FFD700; text-decoration: underline}

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

/* Base layout*/
#content {
	background-color: #FFFFFF;
}
#banner {
	padding: 1em;
}
div.divider {
	/*background-color: #CC6600;*/
	background-color: #9cbebd;	/* pale_blue: #9cbebd; umbrella_red: #C1272D */
	border-radius: 10px;
	width: 100%;
	height: 2em;
	padding-top: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}
#pageContent {
	min-height: 600px;

}


/* Navbar */
.navbar-brand{
	padding: 0.5em 1em;
}
.navbar-inverse {
	background-color: #2e2b21;
}


.panel {
	border: 0px;
}
.panel-body {
	padding: 0.8em;
}


/*****************************************************************************
 * ICONS
 */
.icon-loading {
	width: 75px;
	height: 75px;
	background-image: url('/img/icons/loadingSkeleton-small.gif');
}


/*****************************************************************************
 * FORMS
 */
.form-group > label.hasInputError {
	color: #ed748e;
}


/*****************************************************************************
 * ANIMATIONS
 */

.shakeText {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: shake;
	-moz-animation-duration: 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-o-animation-name: shake;
	-o-animation-duration: 0.5s;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: linear;
	-webkit-animation-name: shake;
			animation-name: shake;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
}

@-webkit-keyframes shake {
	0% { -webkit-transform:		translate(5px, 0px) rotate(0deg); }
	10% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); }
	20% { -webkit-transform:	translate(5px, 0px) rotate(0deg); }
	30% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); }
	40% { -webkit-transform:	translate(3px, 0px) rotate(0deg); }
	50% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); }
	60% { -webkit-transform:	translate(5px, 0px) rotate(0deg); }
	70% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); }
	80% { -webkit-transform:	translate(3px, 0px) rotate(0deg); }
	90% { -webkit-transform:	translate(-1px, 0px) rotate(0deg); }
	100% { -webkit-transform:	translate(1px, 0px) rotate(0deg); }
}

@keyframes shake {
	0% { -webkit-transform:		translate(5px, 0px) rotate(0deg); transform:		translate(5px, 0px) rotate(0deg); }
	10% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); transform:	translate(-3px, 0px) rotate(0deg); }
	20% { -webkit-transform:	translate(5px, 0px) rotate(0deg); transform:		translate(5px, 0px) rotate(0deg); }
	30% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); transform:	translate(-3px, 0px) rotate(0deg); }
	40% { -webkit-transform:	translate(3px, 0px) rotate(0deg); transform:		translate(3px, 0px) rotate(0deg); }
	50% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); transform:	translate(-3px, 0px) rotate(0deg); }
	60% { -webkit-transform:	translate(5px, 0px) rotate(0deg); transform:		translate(5px, 0px) rotate(0deg); }
	70% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); transform:	translate(-3px, 0px) rotate(0deg); }
	80% { -webkit-transform:	translate(3px, 0px) rotate(0deg); transform:		translate(3px, 0px) rotate(0deg); }
	90% { -webkit-transform:	translate(-1px, 0px) rotate(0deg); transform:	translate(-1px, 0px) rotate(0deg); }
	100% { -webkit-transform:	translate(1px, 0px) rotate(0deg); transform:		translate(1px, 0px) rotate(0deg); }
}