/* GLOBAL *******************************************************************/
body {
	font-family: Tahoma;
	background-image: url("../img/bodyGridBackground.png");
	background-repeat: repeat-x|repeat-y;
	color: #000000;
	padding-top: 5em;
}


a {text-decoration: none}
a:link{color: #CC6600}
a:visited{color: #CC6600}
a:active{color: #CC6600}
a:hover{color: #FFD700; text-decoration: underline}


/* CONTENT ******************************************************************/
#content {
	/*width: 900px;*/
	/*width:80%;*/

	background-color: #FFFFFF;
	/*margin-left: auto;
	margin-right: auto;
	margin-top: 30px;*/

}

/* Header *******************************************************************/
#banner {
	padding: 5px;
}
div.divider {
	background-color: #CC6600;
	width: 100%;
	height: 15px;
}

#pageContent {
	padding-right: 5em;
	width: 100%;
	min-height: 1000px;
}



.navbar-brand{
	padding: 0.5em 1em;
}