/**
 * Common theme colors
 * 	Dark Brown = #2e2b21
 * 	Pale Blue = #9cbebd
 * 	Umbrella Red = #C1272D
 */

/* Globals*/
body {
	font-family: Tahoma;
	font-size: 11.5pt;
	background-image: url("../img/bodyGridBackground.png");
	background-repeat: repeat-x|repeat-y;
	/*color: #000000;*/
	padding-top: 5em;
}



@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

/* Base layout*/
#content {
	background-color: #FFFFFF;
}
#banner {
	padding: 1em;
}
div.divider {
	/*background-color: #CC6600;*/
	background-color: #9cbebd;	/* pale_blue: #9cbebd; umbrella_red: #C1272D */
	border-radius: 10px;
	width: 100%;
	height: 2em;
	padding-top: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}
#pageContent {
	min-height: 600px;

}


/* Navbar */
.navbar-brand{
	padding: 0.5em 1em;
}
.navbar-inverse {
	background-color: #2e2b21;
}


.panel {
	border: 0px;
}
.panel-body {
	padding: 0.8em;
}

#log {
	width: 100%;
	height: 5em;
	overflow-x: none;
	overflow-y: scroll;
}

textarea {
	resize: vertical;
}

.notice {
	font-family: 'DarkSoulsBold'
}

/*****************************************************************************
 * LINKS
 */
a {text-decoration: none}
a:link {color: #CC6600}
a:visited {color: #CC6600}
a:active {color: #CC6600}
a:hover {color: #FFD700; text-decoration: underline}

/* For no effect */
.link-none, .link-none:link, .link-none:visited, .link-none:active, .link-none:hover {
	color: inherit;
	text-decoration: none;
}


/*****************************************************************************
 * BUTTONS
 * Need .btn
 */
.btn-action {
	color: #FFF;
	font-weight: bold;
	background-color: #C1272D;
	border: medium solid;
	border-color: #C1272D;
}
.btn-action:hover {
	background-color: #FFF;
	color: #C1272D;
}


/*****************************************************************************
 * FONTS
 */
@font-face {
	font-family: 'Zombie';
	/*src: url('/fonts/Zombie_Holocaust.ttf');*/
	src: url('/fonts/ZOMBIE.TTF');
}
@font-face {
	font-family: 'DarkSouls';
	src: url('/fonts/OptimusPrinceps.ttf');
}
@font-face {
	font-family: 'DarkSoulsBold';
	src: url('/fonts/OptimusPrincepsBold.ttf');
}

.font-zombie {
	font-family: 'Zombie';
}

h1, h2 {
	font-family: 'DarkSouls';
}

/*****************************************************************************
 * ICONS
 */
.icon-loading {
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	opacity: .7;
	width: 48px;
	height: 48px;
	background-image: url('/img/icons/loading.gif');
}


/*****************************************************************************
 * FORMS
 */
.form-group > label.hasInputError {
	color: #ed748e;
}


/*****************************************************************************
 * Forum - POSTS
 */

.post {
	background-color: #f8f8f8;
	border-width: 0.1em;
	border-style: solid;
	border-radius: 0.2em;
	border-color: #C1272D;
	margin-bottom: 0.3em;
	padding: 0.5em;
}

.post > h1 {
	font-weight: bold;
	font-size: 12pt;
	margin-top: 0.2em
}


/*****************************************************************************
 * Info
 */

#rules > #rule1 {
	text-align: center;
}

#rules > #rule1 > h1 {
	font-size: 20pt;
	font-weight: bold;
}

#rules > h1 {
	font-size: 16pt;
	font-weight: bold;
	text-decoration: underline;
}

#rules > h2 {
	font-size: 12pt;
	font-weight: bold;
}


#rules > h3 {
	font-weight: bold;
	text-align: center;
}

/*****************************************************************************
 * ANIMATIONS
 */

.shakeText {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: shake;
	-moz-animation-duration: 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-o-animation-name: shake;
	-o-animation-duration: 0.5s;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: linear;
	-webkit-animation-name: shake;
			animation-name: shake;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
}

@-webkit-keyframes shake {
	0% { -webkit-transform:		translate(5px, 0px) rotate(0deg); }
	10% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); }
	20% { -webkit-transform:	translate(5px, 0px) rotate(0deg); }
	30% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); }
	40% { -webkit-transform:	translate(3px, 0px) rotate(0deg); }
	50% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); }
	60% { -webkit-transform:	translate(5px, 0px) rotate(0deg); }
	70% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); }
	80% { -webkit-transform:	translate(3px, 0px) rotate(0deg); }
	90% { -webkit-transform:	translate(-1px, 0px) rotate(0deg); }
	100% { -webkit-transform:	translate(1px, 0px) rotate(0deg); }
}

@keyframes shake {
	0% { -webkit-transform:		translate(5px, 0px) rotate(0deg); transform:		translate(5px, 0px) rotate(0deg); }
	10% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); transform:	translate(-3px, 0px) rotate(0deg); }
	20% { -webkit-transform:	translate(5px, 0px) rotate(0deg); transform:		translate(5px, 0px) rotate(0deg); }
	30% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); transform:	translate(-3px, 0px) rotate(0deg); }
	40% { -webkit-transform:	translate(3px, 0px) rotate(0deg); transform:		translate(3px, 0px) rotate(0deg); }
	50% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); transform:	translate(-3px, 0px) rotate(0deg); }
	60% { -webkit-transform:	translate(5px, 0px) rotate(0deg); transform:		translate(5px, 0px) rotate(0deg); }
	70% { -webkit-transform:	translate(-3px, 0px) rotate(0deg); transform:	translate(-3px, 0px) rotate(0deg); }
	80% { -webkit-transform:	translate(3px, 0px) rotate(0deg); transform:		translate(3px, 0px) rotate(0deg); }
	90% { -webkit-transform:	translate(-1px, 0px) rotate(0deg); transform:	translate(-1px, 0px) rotate(0deg); }
	100% { -webkit-transform:	translate(1px, 0px) rotate(0deg); transform:		translate(1px, 0px) rotate(0deg); }
}

/*****************************************************************************
 * CLARIFICATION REQUESTS
 */
.cr-container {
	border-top: thin solid;
	border-color: #2e2b21;
}
.cr-header :first-child {
	width: 1em;
}
.cr-header:hover {
	background-color: #ECF0F1;
	cursor: pointer;
}
.cr-content {
	display: none;
}
.cr-content-container {

}
.cr-description {
	font-size: large;
	/*font-weight: bold;*/
}
.cr-comment-container {
	margin-top: 1em;
	margin-bottom: 1em;
}
.cr-comment {
	margin-bottom: .25em;
}
.cr-comment-user {
	font-size: large;
	font-weight: bold;
}
.cr-comment-date {
	color: #7F8C8D;
	margin-left: .75em;
	font-size: small;
}
.cr-comment-text {
	
}