extend ../_layouts/baselayout
block content
	h1 Current Game Management
	p 
		| This page is for calling events tied to the current game. If you are trying to design a new game or edit this one, use the 
		a(href='/mod/dev') Game Development
		|  page instead.
	
	