doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content="Nito\'s Umbrella")

		link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		
		title HvZ@FSU | #{title}
		
		//- Put any CSS specific to the page here
		block localCSS	
			
	body
		//- Top navagation bar
		include ../_elements/top-nav-bar.jade
					
		//- Center Page
		#content.container
			//- Banner
			#banner(align='center')
				img.img-responsive(src='/img/banner.png')

			//- Display current game info if a game is currently being played
			.divider
				.row#gameStats
					| Loading game status...

			.flashOutput
			#pageContent.container-fluid
				block content
				
		.footer.container
			br
			.row.text-center
				a.icon.icon-nito(target="_blank" href="http://jrdbnntt.github.io/")
				a.icon.icon-github(target="_blank" href="http://github.com/TheComputerLiterates/www_hvzatfsu-nodejs")


		//- External Javascript
		script(type="text/javascript", src='/bower_components/jquery/dist/jquery.min.js')
		script(type="text/javascript", src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		
		script(type="text/javascript", src='/js/main.js')
		
		//- Put any javascript specific to the page here
		block localJS