extend ../_layouts/baselayout
block content
	div(ng-app = "Forum", ng-controller = "ForumController")
		div.post(ng-repeat = "post in posts", ng-if = "post.parent == null")
			h1 {{ post.title }}
			p
				| {{ post.description }}


block localJS
	script(type="text/javascript", src='/bower_components/angularjs/angular.min.js')
	script(type="text/javascript", src="/js/user/forum.js")