header(class='navbar navbar-inverse navbar-fixed-top', role='banner')
	.container
		//- Always displayed
		.navbar-header
			//- Button for collapse
			button(type='button',class='navbar-toggle collapsed', data-toggle='collapse', data-target='#main-navbar-collapse')
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='/', alt="Home",class='navbar-brand')
				img(src='/img/homeBtn.png')
			a(href='https://www.facebook.com/hvzatfsu', alt="Facebook", class='navbar-brand')
				img(src='/img/FB-f-Logo__blue_29.png')

		//- Collapsed when on mobile
		nav(class='collapse navbar-collapse', id='main-navbar-collapse', role='navigation')
			//- TODO: Get acl going for each section

			ul(class='nav navbar-nav navbar-right')
				
				//- Always display
				li(class = (title == 'Home'?'active':undefined))
					a(href='/') Home
				li(class = (title == 'Game - Home'?'active':undefined))
					a(href='/game') Game
				li(class = (title == 'Dynamic Game Map'?'active':undefined))
					a(href='/map') Map
				li(class = (title == 'Info'?'active':undefined))
					a(href='/info') Info

				//- - console.log('SESSION: ' + JSON.stringify(session, undefined, 2))
				if session.user !== undefined && session.user.roleId >= hvz.roles.USER.id
					li(class = (title == 'Game - Report Kill'?'active':undefined))
						a(href='/game/kill') Report Kill
					li(class = (title == 'User - Clarification Requests'?'active':undefined))
						a(href='/user/cRequestView') Clarifications
					//- 
						li(class = (title == 'User - Forum'?'active':undefined))
							a(href='/user/forum') Forum
					//- Display if logged in as a player/Mod
					//- 
						if session.user.roleId >= hvz.roles.HUMAN.id
							li(class='dropdown')
								a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-expanded='false')
									| Game 
									span(class='caret')
								ul(class='dropdown-menu', role='menu')
									li(class = (title == 'Game - Home'?'active':undefined))
										a(href='/game') Main
									li(class = (title == 'Game - Report Kill'?'active':undefined))
										a(href='/game/kill') Report Kill
									li(class = (title == 'Game - Dynamic Map'?'active':undefined))
										a(href='/game/map') Dynamic Map
									li(class = (title == 'Game - Missions'?'active':undefined))
										a(href='/game/missions') Missions


					//- Display id user is a mod
					if session.user.roleId >= hvz.roles.MODERATOR.id
						li(class='dropdown')
							a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-expanded='false')
									| Mod Tools 
									span(class='caret')
							ul(class='dropdown-menu', role='menu')
								li(class = (title == 'Mod Tools - Home'?'active':undefined))
									a(href='/mod') Main
								li(class = (title == 'Mod Tools - Develop Games'?'active':undefined))
									a(href='/mod/dev') Develop Games
								li(class = (title == 'Mod Tools - Current Game'?'active':undefined))
									a(href='/mod/game') Current Game
								li(class = (title == 'Mod Tools - Edit Info'?'active':undefined))
									a(href='/mod/info') Edit Info
								li(class = (title == 'Mod Tools - Manage Users'?'active':undefined))
									a(href='/mod/users') Manage Users
							

					//- Display user controlls (is logged in)
					li(class='dropdown')
						a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-expanded='false')
							| Profile
							span(class='caret')
						ul(class='dropdown-menu', role='menu')
							li(class = (title == 'User - Profile'?'active':undefined))
								a(href='/user/profile') View/Edit
							li(class = (title == 'User - Statistics'?'active':undefined))
								a(href='/user/stats') Statistics
							li()
								a(href='/user/logout') Log Out
				else
					//- Display if user is not logged in
					li(class = (title == 'Login'?'active':undefined))
						a(href='/login') Log in
					li(class = (title == 'Sign Up'?'active':undefined))
						a(href='/signup') Sign Up