doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content="Nito\'s Umbrella")

		link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/jquery.dataTables.min.css')
		
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		
		title HvZ@FSU | #{title}
		
		//- Put any CSS specific to the page here
		block localCSS	
			
	body
		//- Top navagation bar
		include includes/top-nav-bar.jade
					
		//- Center Page
		#content.container
			//- Banner
			#banner(align='center')
				img(src='/img/banner.png', class='img-responsive')
				b
					//- TODO
			.divider
			.flashOutput
				//- TODO

			//- Uncomment when posting, comment when working
			//- center: h3: b.
				THIS SITE IS UNDER CONSTRUCTION (and does not work!)
					
			#pageContent.container-fluid
					.row
						.page-header
							h1 #{title}
					.row
						block content
				
		.footer


		//- External Javascript
		script(type="text/javascript", src='/bower_components/jquery/dist/jquery.min.js')
		script(type="text/javascript", src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		
		script(type="text/javascript", src='/js/main.js')
		
		//- Put any javascript specific to the page here
		block localJS