html
	body
		table.tableOuter
			tr
				td
					table.tableInner
						tr
							td#header(align='center', valign='top')
							//- TODO								
						tr
							td#content
								block content
						tr
							td#footer(align='center', valign='top')
								//- TODO