extend ../layouts/baselayout
block content
	.col-md-7
		.panel.panel-default
			.panel-body.
				Main content <br/>
				Testing width: wer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwe rqwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qw
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
	.col-md-5
		.panel.panel-default
			.panel-heading
				h3.panel-title
					b Activity Feed
			#activity1.panel-body
				b Activity 1
				p.
					This is the first activity content
			#activity2.panel-body
				b Activity 2
				p.
					These activities will become layouts
			#activity3.panel-body
				b Activity 3
				p.
					This is the max amount of activities. They will be loaded dynamically

