extend ../_layouts/baselayout
block content
	h1.text-center Welcome to the new HvZ website
	br
	h2 Current site functionalty
	ul
		li Guests
			ul
				li View HvZ Info and Rules
				li Sign up
				li View Dynamic Map
				li Log in
		li Users
			ul
				li View your profile
				li Submit and View Clarification Requests
				li Comment on clarification requests
		li Players (Human/Zombie/OZ)
			ul
				li View Games
				li View Missions
				li Report game kills
		li Moderators
			ul
				li Manage user accounts
				li Create games
				li Create missions for games
				li View ALL Clarifications, Games, and Missions
	br
	h2 Current app functionalty
	ul
		li Guests
			ul
				li Log in
		li Users
			ul
				li View HvZ Info and Rules
				li Profile
				li Submit and View Clarification Requests
				li Comment on clarification requests
				li View Current Game
		li Players (Human/Zombie/OZ)
			ul
				li Report Kill
				li View your missions
				li Toggle GPS
		li Moderators
			ul
				li Manage user accounts
				li Create games
				li Create missions for games
				li View ALL Clarifications, Games, and Missions
	
	br
	br
	blockquote
		h1.notice STILL IN BETA
		p
			| This site is usable for basic management/kills, but does not have the advanced functionalty we plan to add, nor is it actually designed. If you experience any crashes or odd errors, please message 
			a(target='_blank' href='https://www.facebook.com/jared.bennett.9678') Jared 
			|  on Facebook about it.
		