extend ../baselayout
block content
	.container
		.page-header
			h1 #{title}
		.col-md-7
			.panel.panel-default
				.panel-body.
					Main content <br/>
					Testing width: wer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwe rqwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qwer qw
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
		.col-md-5
			.panel.panel-default
				.panel-heading
						h3.panel-title
							b Activity Feed
				.panel-body.
					Content

