extend ../_layouts/baselayout
block content
	h1.text-center Welcome to the new HvZ website
	br
	p Current site functionalty:
		ul
			li Guests
				ul
					li Check out the rules and stuff
					li Create an account
			li Users
				ul
					li Login and view your profile
			li Players (Human/Zombie/OZ)
				ul
					li View the current game and available missions
					li Report game kills
			li Moderators
				ul
					li Manage user accounts
					li Create games
					li Create missions for games
	
	br
	br
	blockquote
		h1.notice STILL IN BETA
		p
			| This site is usable for basic management/kills, but does not have the advanced functionalty we plan to add, nor is it actually designed. If you experience any crashes or odd errors, please message 
			a(target='_blank' href='https://www.facebook.com/jared.bennett.9678') Jared 
			|  on Facebook about it.
		