extend ../_layouts/baselayout
block content
	ul.nav.nav-tabs
		li(role = 'presentation').active
			a(href = '#about', data-toggle = 'tab') About Us
		li(role = 'presentation')
			a(href = '#rules', data-toggle = 'tab') Rules

	.tab-content
		#about.tab-pane.fade.in.active
			br
			| Humans vs. Zombies is a game played around the world on college campuses, at libraries, and in other public settings. It pits teams of humans against a team of zombies that grows as then humans are conquered. They must defend themselves with simple weapons like nerf guns and socks, while the zombies are limited to a glorified game of tag. Over the course of a week, who will survive the outbreak?
		#rules.tab-pane.fade
			br
			| This is where the rules go