extend ../baselayout
block content
	//- Create AJAX form for login
	form#login
		.form-group
			label(for = "emailUsername") Username/E-mail:
			input#emailUsername(type = "text", placeholder = "E-mail").form-control
		.form-group
			label(for = "password") Password:
			input#password(type = "password", placeholder = "Password").form-control
		button.btn.btn-default Submit