extend ../_layouts/baselayout
block content
	h1 Account Log In
	
	.formResult
	form#loginForm.form-horizontal(role="form")
		.form-group
			label.control-label.col-md-2(for="email") Email
			.col-md-7
				input.form-control(type="email", name="email", placeholder="your@email.edu")
		.form-group
			label.control-label.col-md-2(for="password") Password
			.col-md-7
				input.form-control(type="password", name="password", placeholder="Password")

		br
		.form-group
			.formError.col-md-5.col-md-offset-2
			.col-md-2
				button#submit.btn.btn-default(type="submit") Submit
				
block localJS
	script(type="text/javascript", src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js")
	script(type="text/javascript", src="/js/public/login.js")