extend ../_layouts/baselayout
block content
	h1 Dynamic Game Map
		
	script.
		var o1,o2 = null;
		json = !{JSON.stringify(geopoints)};
		window.geopoints = json;
		json = !{JSON.stringify(geofences)};
		window.geofences = json;
		
		console.log('SAVED');
		
	#map-canvas
		
	
block localJS
	script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=drawing')
	script(type='text/javascript' src='/js/public/map.js')